nav ul li{
    
    text-align: right;
    margin: 10px;
    font-size: 20px;
    font-style: oblique;
    text-decoration: none;
    display:inline ;
    float:right;
    color:rgb(65, 170, 173)
   
}
p1{
    color:orange;
    margin-left: 110px;
}
.header{
    background-color:rgb(226, 236, 236) ;
}   
.sentence1 h1{
    font-size: 50px;
    margin-left:110px;
    /* margin-top: 10%; */
    
}  
.sentence1 p{
    font-size:15px;
    margin-left: 110px;

}

  
.start button{
    color: white;
     width :150px; 
    height: 50px;
    background-color: rgb(114, 208, 231);  
     
    text-align: center;
    
     
    font-size: medium;
    
  


}
.start{
    display: flex;
}
.starti{
    
}
    

h4{
    color:black;
    margin-top: 10px;
}
h3{
    color:black;
    margin-top:30px;
    padding:20px;
    margin-right: 60px;
    font-weight: bold;
    font-size:50px;
    font-style: sans-serif;
}
Body{
    background-color:rgb(226, 236, 236)
}

.vet{
    display: flex;
    margin: left 20%;
    margin-bottom: 20px;
    border-radius: 40px;
}
.pic img{
    border: 70px solid rgb(219, 214, 214);
    border-radius:180%;
    display: flex;
    margin-left: 100%;
    margin-top: -50%;
}

.header h2{
    display:flex;
    padding-left:30px;
    margin-left:40px;
    text-align:left;
    font-size: 40px;
}
    
.header p{
    margin-left: 50%;
    margin-top:-60px;
    margin-bottom:120px;
}  



.document{
    display:flex;
    


}
.radiology{
    padding:30px; 
    background-color: white;
    margin-left: 5%;
    

}
.Ambulance{
    Padding:45px;
    background-color: white;
    margin-left: 6%;
}
.Dental{
    padding:15px;
    background-color: white;
    margin-left: 5%;

}


.Operations{
    display:flex;
    /* margin-top:3opx ; */
    font-size: large;
    
    
}
.surgery{
    padding: 30px;
    margin-top: 30px;
    background-color:white;
    margin-left: 5%;

    
    
}
.Service{
    padding: 30px;
    margin-top: 30px;
    background-color:white ;
    margin-left: 5%;
}
.Hostel{
    padding: 30px;
    margin-top: 30px;
    background-color: white;
    margin-left: 5%;
}
.sec3{
    display: flex;
    margin: 3%;
    padding: 5%;
    padding-bottom: 100px;

}
 .info h1
{
    
    font-size: 50px;
} 



.btn{
    
    border: 2px solid;
    background-color:rgb(82, 145, 161);
    height: 200%;
    width:150px;
    border-radius: 20px;
    
     
    
}
/* .row-1{ */
    

/* } */
/* .row-2{
    font-size: 20px;
    margin-left: 2%;
    
    
}
.row-3{
    margin-left: 60%;
    margin-top: -5%;
}
.row-4{
    margin-left:60%;
    margin-bottom: -5%;
} */
.row{
    display: flex;
    margin: 100px;
    padding-bottom: 800px;
    
}
.veterians-2{
    font-size: 15px;
    background-color:white;
    padding: 7% ;
    margin: 13px;
    
    


}  

.veterians-1{
    font-size: 15px;
    background-color:white;
    padding:7% ;
    margin: 15px;
    
}
.stars{
    color: yellow;

}
.container{
    
    margin-top: -70%;
    font-size: 50px;
    text-align: center;
    
    

}
.Images{
    text-align: center;
    font-size:40px;
    display:flex;

    
}

.img1{
    padding-left:1%;
    font-size :15px; 
}
.img2{
    padding-left:5%;
    font-size:15px ;
}
.img3{
    padding-left:5% ;
    font-size:15px ;
}
.A
{
    background-color: rgb(221, 243, 243);
}

.last{
    display :flex;
    padding-left: 2%;
    margin-left: 2%;
    padding-left: 5%;
    margin-top: 40px;
  

}
.details{
    margin-left: 2% ;
}
    
.product{
    margin-right:15%;
    padding-left: 15%;
}
.community{
    margin-right:15%;
    padding-left: 15%;
}
.about{
    margin-right:15% ;
    padding-left:15% ;
}


.Z{
    background-color: azure;
    
}
.Blog h1{
    font-size:40px;
    text-align: center;

}
.mel{
    width:10px ;
    width:10% ;
    font-size: 60px;
}
.Blog{
    
        text-align:center;
        width: 650px;
        background-color:#C5F2F7 ;
        margin-left: 25%;
        height: 90px
}
.Blog p{
    margin-top: -5%;
}
.id{
    border:2px solid ;
}


    
.fa.fa-medkit{
    color: rgb(123, 250, 250);
    font-size: xx-large;

}
.fa.fa-plus-circle{
    color: rgb(123, 250, 250);
    font-size: xx-large;
}
.fa.fa-times{
    color: rgb(123, 250, 250);
    font-size: xx-large;
}
.fa.fa-desktop{
     color: rgb(123, 250, 250);
     font-size: xx-large;
    
}
.fa.fa-clipboard{
    color: rgb(123, 250, 250);
    font-size: xx-large;
}
.fa.fa-paw{
    color: rgb(123, 250, 250);
    font-size: xx-large;
}
.Blog h4{
    margin-left: 600px;
    margin-bottom: 5%;
    border: solid 2px;width: 150px;
    text-align: center;
    margin-top: -9%;
    background-color: rgb(114, 208, 231);
    padding: 10px;
    margin-left: 55%;

    
    
   
  

    
}
.Blog{
    background-color: rgb(208, 255, 255);
    height: 200px;
    width:  900px;
    border: solid 2px;
    border-radius: 20px;
    margin-left:150px;
    margin-top: 5%;
}
.Blog h6{
    margin-right: 25%;
    font-size: large;
}
.mum1 img{
    width: 30px;
}
.mum2 img{
    width: 40px;
}
.row-2 p{
    margin-left:70%;
    margin-top: -5%;
}
.row-4{
    margin-left: 70%;
}
.row-2 h1{
    font-size: 40px;
}
.button{
    color: rgb(82,145,161);
    border-radius: 20px;
    height: 20px;
    
    

}

    








    

  
    


 











    


    
    
    
